/*
===============
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Rubik:400,500,700&display=swap");

/*
===============
Global Styles
===============
*/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  text-align: center;
  letter-spacing: 0.5px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img:not(.logo) {
  width: 100%;
  max-width: 38rem;
  margin: 0 auto;
  border-radius: 10px;
}
img {
  display: block;
}

/* screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
  overflow: hidden;
}

/* header */
header {
  height: 12rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(./images/pattern-bg.png);
  background-position: center;
  background-size: cover;
  color: white;
  padding-top: 1.5rem;
}
header h2 {
  font-weight: 400;
  cursor: pointer;
}
form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-top: 1rem;
  width: 40%;
  min-width: 16rem;
  max-width: 30rem;
  background: white;
  border-radius: 13px;
}
label {
  width: 100%;
  border-radius: 13px;
}
input {
  text-overflow: ellipsis;
  text-align: left;
  border: 1px solid transparent;
  font-family: inherit;
  font-weight: 500;
  padding: 0.5rem 1rem;
  width: 100%;
  height: 3rem;
  border: none;
  border-radius: 13px 0 0 13px;
}
input:focus-visible {
  outline-offset: -2px;
  outline: 3px solid rgb(162 193 255);
}
input::placeholder {
  color: hsl(0, 0%, 59%);
  font-weight: 400;
  text-overflow: ellipsis;
}
form button {
  cursor: pointer;
  background-color: hsl(0, 0%, 17%);
  height: 100%;
  padding: 1rem 1.25rem;
  border: none;
  border-radius: 0 13px 13px 0;
}
/* main */
/* data container */
.data-container {
  background-color: #fff;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 5;
  position: absolute;
  top: 8rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.5rem 1rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  width: 40%;
  min-width: 18rem;
  max-width: 27rem;
}
.title {
  text-transform: uppercase;
  color: hsl(0, 0%, 59%);
  font-weight: 700;
  font-size: 0.65rem;
  letter-spacing: 1.5px;
}
.info {
  font-weight: 700;
  font-size: 1.1rem;
}
.text-container {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
/* map */
.map-container {
  z-index: 0;
  min-height: 40rem;
}
/* zoom btns location  */
.leaflet-top .leaflet-control {
  margin-top: 289px;
}
/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 2rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* example ip btn */
.example {
  z-index: 10;
  opacity: 0;
  position: fixed;
  top: 0.5rem;
  right: 3rem;
  background-color: #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  transform: translateX(200%);
  transition: transform 250ms linear, opacity 200ms linear;
}
.example.show {
  opacity: 1;
  display: block;
  transform: translateX(0);
}
.example-btn-menu-toggle {
  z-index: 10;
  cursor: pointer;
  border: none;
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  background-color: #fff;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
  padding: 0 0.5rem;
  border-radius: 7px;
  font-family: inherit;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-size: 1.5rem;
}
.example-btn {
  border: none;
  cursor: pointer;
  height: 100%;
  padding: 0.7rem 1.25rem;
  background-color: transparent;
}

/* L+ screen size map zoom btns location change */
@media (min-width: 400px) {
  /* zoom btns location */
  .leaflet-top .leaflet-control {
    margin-top: 121px;
  }
}
/* example btn */
@media (min-width: 680px) {
  .example-btn-menu-toggle {
    display: none;
  }
  .example {
    display: block;
    opacity: 1;
    display: block;
    transform: translateX(0);
  }
}

/* desktop */
@media (min-width: 868px) {
  /* zoom btns location desktop */
  .leaflet-top .leaflet-control {
    margin-top: 183px;
  }
  /* main desktop */
  .data-container {
    padding: 1.5rem 0;
    text-align: left;
    flex-direction: row;
    width: auto;
    max-width: 63rem;
    min-width: 50rem;
    gap: 0;
  }
  .text-container + .text-container {
    border-left: 1px solid hsla(0, 0%, 70%, 0.507);
  }
  .text-container {
    padding-left: 2rem;
    padding-right: 2rem;
    width: 25%;
  }
}

/* hover */
@media (hover) {
  form button:hover {
    background-color: rgb(68, 68, 68);
  }
  .example-btn-menu-toggle:hover {
    color: rgba(0, 0, 0, 0.651);
  }
  .example-btn:hover {
    opacity: 0.8;
  }
}
